<div class="container container-medicament">

    <div class="panel panel-default header-medicament">
        <div class="container">
            <h3>{{nomMedicament}}</h3>
        </div>
    </div>

    <!-- ALERTES -->
    <div class="row" ng-if="medicament.surveillanceRenforcee" >
        <div class="alert alert-danger" role="alert">
                <a target="_blank" href="http://ansm.sante.fr/Activites/Surveillance-des-medicaments/Surveillance-des-medicaments" title="Lien vers le site de l'ANSM sur les médicaments sous surveillance - nouvelle fenêtre"><img class="imgMiddle" height="35px" src="img/triangle_noir.png" alt="Médicament sous surveillance renforcée"></a>&nbsp;Ce médicament fait l’objet d’une surveillance renforcée. Pour plus d'informations, <a target="_blank" href="http://ansm.sante.fr/Activites/Surveillance-des-medicaments/Surveillance-des-medicaments" title="Lien vers le site de l'ANSM sur les médicaments sous surveillance - nouvelle fenêtre">cliquez ici</a>
        </div>
    </div>

    <div class="row" ng-if="alerte" >
        <div class="alert alert-danger" role="alert">
            <p>Attention ce médicament fait l'objet d'un retrait ou d'une suspension d'autorisation ou d'utilisation pour des raisons de santé publique.</p>
            <p>Si vous prenez ce médicament, il vous est recommandé de prendre contact, dans les meilleurs délais, avec votre médecin ou avec votre pharmacien qui vous indiquera la conduite à tenir. Pour plus d'information, vous pouvez consulter les informations importantes ci-dessous.</p>
        </div>
    </div>

    <div class="row" ng-if="warning" >
        <div class="alert alert-warning" role="alert">
            <p>Ce médicament n'est ou ne sera bientôt plus disponible sur le marché.</p>
            <p>Si vous prenez actuellement ce médicament, il vous est recommandé d'en parler avec votre médecin ou avec votre pharmacien qui pourra vous orienter vers un autre traitement.</p>
        </div>
    </div>

    <!-- INFOS IMPORTANTES -->
    <div class="row" ng-if="infosImportantesCourantes.length != 0">
        <div class="panel panel-info">
            <div class="panel-heading">Informations importantes</div>
            <div class="panel-body">
                <ul>
                    <li data-ng-repeat="info in infosImportantesCourantes">
                        <a href="{{info.infoURL}}">
                            <p class="list-group-item-text">{{info.infoLibelle}} (en date du {{info.dateDebut}})</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- PRESCRIPTION -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Conditions de prescriptions</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li data-ng-repeat="condition in medicament.conditionsPrescriptionDelivrance">
                        {{condition}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- GENERIQUES -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Groupe Générique [{{medicament.infosGenerique.libelleGroupe}}]</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <a href class="list-group-item active">
                        <span class="badge">{{medicament.infosGenerique.type}}</span>
                        {{nomMedicament}}
                    </a>
                </ul>
                <ul class="list-group" ng-repeat="generique in medicament.infosGenerique.autresMedicamentsGroupe">
                    <a href ng-click="display(generique.codeCIS)" class="list-group-item">
                        <span class="badge">{{generique.type}}</span>
                        {{generique.denomination}}
                    </a>
                </ul>
            </div>
        </div>
    </div>

    <!-- COMPOSITION -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Composition</h3>
            </div>
            <div class="panel-body">
                <div class="tree">
                    <ul>
                        <li ng-repeat="composition in medicament.compositions">
                            <a href="#">{{composition.designationElementPharmaceutique}} (composition pour {{composition.referenceDosage}})</a>
                            <ul>
                                <li ng-repeat="substanceActive in composition.substancesActives">
                                    <a href="#">{{substanceActive.denominationSubstance}} : {{substanceActive.dosageSubstance}}</a>
                                    <ul>
                                        <li ng-repeat="fractionTherapeutique in substanceActive.fractionsTherapeutiques">
                                            <a href="#">{{fractionTherapeutique.denominationSubstance}} : {{substanceActive.dosageSubstance}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- PRESENTATIONS -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Présentations</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group" ng-repeat="presentation in presentations">
                    <li class="list-group-item" ng-class="presentation.statut ? 'presentationOK' : 'presentationKO'" >
                        <p><span class="presentationTitle">{{presentation.libelle}}</span><span ng-if="!presentation.statut" class="label label-warning">{{presentation.warning}}</span>
                        </p>
                        <br>
                        <p>Code CIP : {{presentation.codeCIP7}} ou {{presentation.codeCIP13}}</p>
                        <p>{{presentation.etatCommercialisationAMM}} : {{presentation.dateDeclarationCommercialisation}}</p>
                        <p ng-if="presentation.abrogation">Date d'abrogation : {{presentation.dateAbrogation}}</p>
                        <p ng-if="presentation.agrementCollectivites">Cette présentation est agréée aux collectivités</p>
                        <p ng-if="!presentation.agrementCollectivites">Cette présentation n'est pas agréée aux collectivités</p>
                        <p ng-if="presentation.remboursement">Prix : {{presentation.prix}}€ (taux de remboursement : {{presentation.tauxRemboursement}})</p>
                        <p ng-bind-html="presentation.indicationsRemboursement"></p>
                        <p ng-if="!presentation.remboursement">Prix libre, médicament non remboursable</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- FICHE -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Médicament</h3>
            </div>
            <div class="panel-body">
                Code CIS : {{medicament.codeCIS}}<br/>
                Voies administration : {{medicament.voiesAdministration}}<br/>
                Statut administratif : {{medicament.statutAdministratifAMM}}<br/>
                Type procédure AMM : {{medicament.typeProcedureAMM}}<br/>
                Date AMM : {{medicament.dateAMM}}<br/>
                Numéro autorisation européenne : {{medicament.numeroAutorisationEuropeenne}}<br/>
                Titulaires : {{medicament.titulaires}}<br/>
            </div>
        </div>
    </div>

    <!-- AVIS SMR -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Service médical rendu (SMR)</h3>
            </div>
            <div class="panel-body">
                <p>Les libellés affichés ci-dessous ne sont que des résumés ou extraits issus des avis rendus par la Commission de la Transparence. Seul l'avis complet de la Commission de la Transparence fait référence. </p>
                <table class="table" ng-if="avisSMR.length != 0">
                    <thead>
                    <tr>
                        <th>Valeur du SMR</th>
                        <th>Date</th>
                        <th>Motif de l'évaluation</th>
                        <th>Résumé de l'avis</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="avis in avisSMR" ng-click="go(avis.urlHAS)" style="cursor: pointer;">
                        <td>{{avis.valeurSMR}}</td>
                        <td>{{avis.dateAvisCommissionTransparence}}</td>
                        <td>{{avis.motifEvaluation}}</td>
                        <td ng-bind-html="avis.libelleSMR"/>
                    </tr>
                    </tbody>
                </table>
                <p ng-if="avisSMR.length == 0">Pas de SMR disponible pour ce médicament</p>
            </div>
        </div>
    </div>

    <!-- AVIS ASMR -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Amélioration du service médical rendu (ASMR)</h3>
            </div>
            <div class="panel-body">
                <p>Les libellés affichés ci-dessous ne sont que des résumés ou extraits issus des avis rendus par la Commission de la Transparence. Seul l'avis complet de la Commission de la Transparence fait référence. </p>
                <table class="table" ng-if="avisASMR.length != 0">
                    <thead>
                    <tr>
                        <th>Valeur de l'ASMR</th>
                        <th>Date</th>
                        <th>Motif de l'évaluation</th>
                        <th>Résumé de l'avis</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="avis in avisASMR" ng-click="go(avis.urlHAS)" style="cursor: pointer;">
                        <td>{{avis.valeurSMR}}</td>
                        <td>{{avis.dateAvisCommissionTransparence}}</td>
                        <td>{{avis.motifEvaluation}}</td>
                        <td ng-bind-html="avis.libelleSMR"/>
                    </tr>
                    </tbody>
                </table>
                <p ng-if="avisASMR.length == 0">Pas d'ASMR disponible pour ce médicament</p>
            </div>
        </div>
    </div>

</div>