<div class="container">
    <div class="row">
        <div class="col-xs-12 container-home">
            <img src="img/logo.png" class="logo-home"/>
            <form>
                <div class="input-group input-group-lg col-xs-12">
                    <input type="text" class="form-control main-search-input" placeholder="exemple : paracétamol 500 mg"
                           aria-describedby="sizing-addon1" ng-model="query" autofocus ng-keyup="search(query)" show-focus="!headerSearch" >
                </div>
            </form>
        </div>
    </div>
</div>