<div class="container">
    <div class="row">
        <div class="col-xs-12 container-home">
            <a href="http://www.ellixo.com" target="_blank"><img src="img/logo.png" class="logo-home"/></a>
            <form>
                <div class="input-group input-group-lg col-xs-12">
                    <input type="text" class="form-control main-search-input" placeholder="exemple : paracétamol 500 mg"
                           aria-describedby="sizing-addon1" ng-model="query" autofocus ng-keyup="search(query)" show-focus="!headerSearch" >
                </div>
            </form>
            <div class="home-legende col-xs-12">Open Médicaments s'appuie sur les données fournies par la <a href="http://base-donnees-publique.medicaments.gouv.fr" target="_blank">base de données publique des médicament</a> (mise à jour le {{dateMiseAJour}})</div>
        </div>
    </div>
</div>