<div class="container">
    <h4>
        <ng-pluralize count="medicaments.length"
                      when="{'0': 'Aucun médicament ne correspond aux critères fournis',
                     'one': 'un résultat disponible',
                     'other': '{} résultats disponibles'}">
        </ng-pluralize>
    </h4>
    <br>
    <div class="medicaments">
        <div class="list-group">
            <span data-ng-repeat="medicament in medicaments" class="list-group-item medicament-item clearfix" ng-click="display(medicament.codeCIS)">
                <button title="Ajouter à la liste des interactions"  type="button" class="btn btn-default btn-xs" ng-click="select(medicament);$event.stopPropagation()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                <span>&nbsp;&nbsp;{{medicament.nom}}</span>
            </span>
        </div>
    </div>
</div>