<div class="container">
    <div>
        <div class="row feature thumbnail" data-ng-repeat="result in results" style="cursor: pointer;" ng-click="display(result.codeCIS)">
            <div class="col-xs-2">
                <img src="http://placehold.it/150x150" alt="{{result.denomination}}">
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <div>
                        <h3>{{result.denomination}}</h3>
                        <p>{{result.titulaires}}</p>
                        <div>Date d'autorisation : {{result.dateAMM}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="pull-right">
                        <img src="#" data-ng-src="{{getFormePharmaceutiqueImage(result.formePharmaceutique)}}" alt="{{result.formePharmaceutique}}" data-toggle="tooltip" data-placement="bottom" title="{{result.formePharmaceutique}}"/>
                        <img src="img/generique.png" alt="Générique" data-toggle="tooltip" data-placement="bottom" title="Générique" height="32"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>