<div class="container">
    <h4>
        <ng-pluralize count="medicaments.length"
                      when="{'0': 'Aucun médicament ne correspond aux critères fournis',
                     'one': 'un résultat disponible',
                     'other': '{} résultats disponibles'}">
        </ng-pluralize>
    </h4>
    <br>
    <div class="medicaments">
        <div class="list-group">
            <a ng-href class="list-group-item medicament-item" data-ng-repeat="medicament in medicaments" style="cursor: pointer;" ng-click="display(medicament.codeCIS)">{{medicament.nom}}</a>
        </div>
    </div>
</div>