* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    padding-top: 70px;
    height: 100%;
}

p {
    margin: 0 0 0px;
}

.spacer {
    margin-top: 50px;
}

.feature {
    margin-bottom: 30px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}

.push {
    height: 40px;
}

.footer {
    height: 40px;
    background-color: #008576;
    color: white;
    padding: 10px 0;
}

.container-menu {
    padding-left:15px;
    padding-right:15px;
}

.navbar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #008576;
    z-index: 1030;
}

.navbar-brand, .navbar-brand:focus, .navbar-brand:hover {
    color: white;
    padding: 10px 10px;
}

.container-home {
    text-align: center;
}

.logo-home {
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo-header {
    width: 210px;
}

.search-field {
    padding: 2px;
    max-width : 600px;
}

.menu-item, .menu-item:focus, .menu-item:hover {
    color: white;
    background-color: #008576 !important;
}

.panel-default>.panel-heading {
    color: #008576;
    background-color: #FAFAFA;
}

.panel-default {
    border-color: #292C39;
}

.container-table {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.container-medicament {
    margin-top: 150px;
}

@media (max-width: 1300px) {
    .container-medicament {
        margin-top: 200px;
    }
}

@media (max-width: 1000px) {
    .container-medicament {
        margin-top: 240px;
    }
}

@media (max-width: 500px) {
    .container-medicament {
        margin-top: 280px;
    }
}

.header-medicament-parent {
    position: fixed;
    top : 50px;
    right: 0;
    left: 0;
    z-index: 1030;
    color: white;
    background-color: #292C39;
    padding-right: 5px;
    border-style: none;
    border-radius: 0px;
}

.container-header-medicament {
    margin-left: 30px;
    margin-bottom: 5px;
}

.header-medicament-info {
    float: right;
    font-style: italic;
    font-size: 80%;
    display: inline-block;
    text-align: right;
    padding-top:20px;
    padding-right:10px;
}

.main-search-input, .main-search-input:focus, .main-search-input:hover {
    border-style: none;
    margin-bottom: 10px;
}

.header-search-input, .header-search-input:focus, .header-search-input:hover {
    margin-top: 3px;
    height: 40px !important;
    border-style: none;
}

.header-medicament {
    margin-top: 5px;
}

.header-prix {
    font-weight: bold;
}

.infosImportantes {
    border-color: #292C39;
}

.liste {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 20px;
}

.entete {
    font-size: 16px;
}

.list-group {
    margin-bottom: 0px;
}

.generique.active, .generique.active:focus, .generique.active:hover {
    z-index: 2;
    background-color: #505777;
    border: 1px solid #505777;
    margin-top: 0px;
}

.generique, .generique:focus, .generique:hover {
    z-index: 2;
    background-color: #D9DEF7;
    border: 1px solid #D9DEF7;
    margin-top: 10px;
}

.generique-nom {
    font-weight: bold;
}

.list-presentation-item {
    background: transparent;
}

.presentations {
    padding-left: 5px;
    padding-right: 5px;
}

.presentation-medicament-info {
    font-style: italic;
    font-size: 80%;
    display: inline-block;
    text-align: right;
}

.presentationOK {
    border: 1px solid transparent;
    border-color: #ddd;
    background-color: #F5FFF5;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.presentationOK:last-child {
    margin-bottom: 0px;
}

.presentationKO {
    border: 1px solid transparent;
    border-color: #ddd;
    background-color: #F9DBDB;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.presentationKO:last-child {
    margin-bottom: 0px;
}

.presentationTitle {
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}

.no-wrap {
    white-space: nowrap;
}

@media (max-width: 600px) {
    .no-wrap {
        white-space: normal;
    }
}

.legende {
    font-style: italic;
    font-size: 12px;
}

.prixLibre {
    font-weight: bold;
}

.prixRembourse {
    font-weight: bold;
}

.medicaments {
    padding-bottom:40px;
}

.medicament-item.active, .medicament-item.active:focus, .medicament-item.active:hover {
    z-index: 2;
    background-color: #505777;
    border: 1px solid #505777;
    margin-top: 0px;
}

.medicament-item, .medicament-item:focus, .medicament-item:hover {
    z-index: 2;
    background-color: #D9DEF7;
    border: 1px solid #D9DEF7;
    margin-top: 10px;
}